/* ======================================== Common Styling =================================================*/

html { 
	/*font-size: 14.3px; */
	font-size: 15px; 
}

a{ 
	text-decoration: none; 
	cursor: pointer;
}

ul {
	padding: 0rem;
	margin: 0rem;
}

ul li { display: inline-block; }

* { 
	box-sizing: border-box; 
	font-family: 'Source Sans Pro',sans-serif;
	color: #535a60;
}

 p { margin: 0rem; }

.flex { display: flex; }

/* ======================================== Header Styling =================================================*/

/* ------ Header Top --------------*/

header {
	background-image: url("../3_images/0_common/bg-nav.png");
	background-size: 51rem 7rem;
	background-repeat: no-repeat;	
	font-size: 0.9rem;
}



.headerTop {
	padding: 1rem 0.9rem;
	border-bottom: 1px solid #e4e6e8;
	justify-content: flex-start;
	align-items: flex-end;	
}

.logo { width: 2.5rem; }

.logo a img { width: 1.55rem; }

.headerTopLeftNav { flex-grow: 2; }

.headerTopRightNav ul li { padding-bottom: 0.2rem; }

.headerTopLeftNav ul li:nth-child(2),
.headerTopLeftNav ul li:nth-child(3),
.headerTopLeftNav ul li:nth-child(4) { padding: 0rem 0.5rem 0.2rem 0.5rem; }

.headerTopLeftNav ul li:nth-child(1) {
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e4e6e8;
}


.headerTopRightNav ul li:nth-child(4) { border-right: 1px solid #e4e6e8; }

.headerTopRightNav ul li:nth-child(2),
.headerTopRightNav ul li:nth-child(3),
.headerTopRightNav ul li:nth-child(4), 
.headerTopRightNav ul li:nth-child(5) { padding-left: 1rem; }

.headerTopLeftNav ul li:nth-child(3),
.headerTopLeftNav ul li:nth-child(4),
.headerTopRightNav ul li:nth-child(1),
.headerTopRightNav ul li:nth-child(2),
.headerTopRightNav ul li:nth-child(3),
.headerTopRightNav ul li:nth-child(4) { display: none; }


/* ------ Header Bottom -----------*/

.headerBottom {
	padding: 1rem 1rem;
	justify-content: space-between;
	flex-direction: column;
}

.headerBottomLeftNav { justify-content: flex-start; }


.headerBottomLeftNav ul li {	
	padding: 0.5rem 0.5rem;
	border-radius: 2rem;
	margin: 0.5rem 0rem;
}

.active { background-color: hsl(27deg 90% 53%); } 

.headerBottomLeftNav ul li:hover {
	padding: 0.5rem 0.5rem;
	border-radius: 2rem;
	background-color: #e4e6e8;
	color: black;
}

.headerBottomLeftNav .active:hover { background-color: hsl(27deg 90% 53%); }

.headerBottomLeftNav ul li a { color: #535a60; }

.headerBottomLeftNav ul .active a { color: white; } 

.headerBottomRight {
	padding-top: 1rem;
	border-top: 1px solid #e4e6e8;
	justify-content: flex-end;
}

.headerBottomRight span {
	margin-right: 1rem;
	align-items: center;
	color: black;
}

.button,
.headerBottomRight button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #0095ff;
}

.sectionButton,
.button a,
.headerBottomRight button a { color: white; }


/* ========================================== Main Styling =================================================*/


/* ------ Intro Section -----------*/

/***  introTop ***/

.introTop {
	padding: 0rem 2rem 3rem 2rem;
	flex-direction: column;
}


.introTop1 {
	height: 306px;
	background-image: url("../3_images/1_about/bg-header-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

.introTop2Para1 {
	margin-bottom: 2rem;
	font-family: 'Roboto Slab',serif;
	font-size: 1.2rem;
	font-weight: 400;
	color: #848d95; 
}

.introTop2 h2 {
	margin: 2rem 0rem;	
	font-family: 'Roboto Slab',serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: #242729;  
}

.introTop2 h2 ~ p,
.introTop2Para span {
	margin: 1rem 0rem;
    font-family: "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.7rem;   
    color: #535a60; 
}

.introTop2Para span { font-weight: 600; }


/*** introBottom ***/

.introBottom { 
	padding: 0rem 1.5rem;
	border: 1px solid #e4e6e8;
	border-top: 0px;
	border-radius: 0px 0px 9px 9px;
	margin: 0rem 2rem;
	box-shadow: 0rem 4rem 3rem 1rem #e4e6e8;
	box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 
				0 100px 80px rgb(0 0 0 / 7%);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.introBottom li { 
	width: 100%;
	padding: 2rem 0.5rem;
	padding: 2rem 1.5rem;
	padding: 2rem 0rem;
	text-align: center;
}

.introBottom li:nth-child(1),
.introBottom li:nth-child(2),
.introBottom li:nth-child(3),
.introBottom li:nth-child(4) { border-bottom: 1px solid #e4e6e8; }

.introBottomHeading  { 
	margin-bottom: 0.5rem;
	font-family: "Roboto Slab Bold", serif;
	font-size: 1.38rem;
	font-weight: bold;
	color: #242729; 
}

.introBottomPara { 
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.44rem;
	color: #242729;
}


/* ------ History Section ---------*/

.history { 
	padding: 4rem 3rem;
	padding-bottom: 0rem;
    flex-direction: column-reverse;
    align-items: center;
	font-family: "Segoe UI", "Liberation Sans", sans-serif !important;
}


/*** historyAward ***/

.historyAward {
	margin: 2rem 0rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.award {
	width: 20rem;
	margin: 1.5rem 0rem;
	text-align: center;
}

.award p { 
	padding-top: 1rem; 
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 0.9rem;
	line-height: 1.3rem;
	color: #6a737c;
}

.award3 img { width: 5rem; }


/*** historyContent ***/

.blueText ,
.historyContent p,
.historyContent strong {
	font-family: "Segoe UI", "Liberation Sans", sans-serif !important;
    font-size: 1.1rem;
    line-height: 1.7rem;	
}

.historyContent p { margin: 1rem 0rem; }

.blueText { color: #0077cc; }

.blueText:hover { color: #0095ff; }


/* ------ Section Container (for product, coreValue and Investors) ---------*/

.sectionContainer {
	padding: 4rem 1rem;
	border: 1px solid #eff0fac1;
	border-top: none;
	border-radius: 7px;
	box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 
				0 100px 80px rgb(0 0 0 / 7%);
}


/* ------ Product Section ---------*/

.product { padding: 3.5rem 0rem; }

.heading { 
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center; 
}

.headingLine, 
.headingHeading {
	margin: 0; 
	display: inline-block; 
}

.headingLine {
	width: 22%;
	height: 0.1px;
	border-style: none;
	background-color: #eff0f1;
}

.headingHeading {
	font-family: "Roboto Slab Bold", serif;
	font-size: 1.3rem;
	color: #2f3337;
}

.productContent { 
	padding: 2rem 0rem;
	flex-wrap: wrap;
	justify-content: center;
}

.productBlock {
	width: 85%;
	padding: 0.5rem 0rem;
	border-radius: 0.5rem;
	margin-bottom: 2rem;
	background-color: #f2f9ff;
}

.productBlock:hover { background-color: #cfeafe; }

.productBlockMain {
	width: 100%;
	padding: 1rem 1.5rem;	
} 

.productBlockFull .productBlockMain { width: 100%; }

.productBlockFull { text-align: center; }

.productLogoImage { margin-bottom: 0.4rem; }

.productBlockHeading {
	margin: 0rem;
	font-family: "Roboto Slab", serif;
	font-size: 1.4rem;
	color: #2f3337;
}

.productBlockPara {
	margin: 0.5rem 0rem 1.5rem 0rem;
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 1.05rem;
	line-height: 1.5rem;
	color: #3c4146;
}

.sectionButton,
.locationLeft button { 
	padding: 0.8rem 1.5rem;
	font-size: 0.9rem; 
}

.product button { cursor: pointer; }


/* ------ Investor Section --------*/

.investorContent {
	width: 91%;
	margin: 2rem auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.investorImg { margin: 1rem 0.85rem; }

.investorImg:nth-child(1) { 
	width: 180px;
	height: 2.8rem;
}

.investorImg:nth-child(2) { 
	width: 275px;
	height: 2.8rem;
}

.investorImg:nth-child(3) { 
	width: 137px;
	height: 3rem;
}

.investorImg:nth-child(4) { 
	width: 110px;
	height: 4rem; 
}

.investorImg:nth-child(5) { 
	width: 181px;
	height: 2.8rem; 
}

.investorImg:nth-child(6) { 
	width: 76px;
	height: 2.8rem; 
}

.investorImg:nth-child(7) { 
	width: 113px;
	height: 2.8rem;
}

.investor p {
	color: #bbc0c4;
	text-align: center;
}



/* ------ CoreValue Section -------*/

.coreValue { 
	padding: 4.5rem 0rem; 
}

.coreValueContent {
	width: 100%;
	padding: 3rem 0.5rem;
	padding-bottom: 0rem;
	margin: 0 auto;
	flex-wrap: wrap;
}

.coreValueBlock { margin: 1rem 0rem; }

.coreValueHeading {
	margin: 1rem 0rem 0.8rem 0rem;
	font-family: "Roboto Slab Bold", serif;
	font-size: 1.3rem;
	color: #3c4146;
}

.coreValuePara {
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 0.99rem;
	line-height: 1.45rem;
	color: #242729;
}

/* ------ Location Section --------*/
.location {
	width: 92%;
	margin: 7rem auto;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.locationLeft {
	margin-bottom: 3rem;
	text-align: center;
}

.locationLeftHeading {
	margin: 0.5rem 0rem;
	font-family: "Roboto Slab", serif;
	font-size: 1.5rem;
	font-weight: bold;
    color: #2f3337;
}

.locationLeft > p {
	margin: 1rem 0rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.05rem;
    line-height: 1.6rem;
    color: #535a60;
}

.locationLeft .button {
	padding: 0.9rem 2rem;
	margin: 0.3rem;
}

.locationLeft button a { font-size: 0.9rem; }

.locationLeft button:hover { background-color: #0077cc; }

.locationButton { background-color: #e1ecf4; }

.locationLeft .locationButton:hover { background-color: #d1e5f1; }

.locationButton a { color: #2c5777; }

.locationRightTop {
	margin-bottom: 3rem;
	justify-content: center;
}

.locationImg {
	width: 138px;
	height: 192px;
	border-radius: 9px;
}

.locationRightContent {
	margin-left: 1rem;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locationRightHeading { 
	display: block;
	font-family: "Roboto Slab", serif; 
}

.locationRightHeading1 {
	display: block;
	font-size: 1.1rem;
    line-height: 2rem;
	color: #848d95;
}

.locationRightHeading2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #2f3337;
}

.locationRight address {
	font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.99rem;
    line-height: 1.4rem;
    color: #242729;  
}

.locationRightBottom, 
.locationRightBottom a {
	font-family: "Source Sans Pro", sans-serif;
	color: #848d95;
}

.locationRightBottom {
    display: block;
    font-size: 0.9rem;
    text-align: center;
}

.locationRightBottom a { text-decoration: underline; }



/* ======================================== Footer Styling =================================================*/


/* ------ Footer Top --------------*/

.footerTop {
	padding: 4rem 1rem;
	flex-direction: column;
	align-items: center;
	background-color: #2f3337;	 
}

.footerTopBlock { 
	width: 271px;
	text-align: center;
	cursor: pointer;
}

.footerTopBlock:nth-child(2),
.footerTopBlock:nth-child(3) { margin-top: 5.5rem; }

.footerTopImg {
	width: 78px;
	height: 78px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
}

.footerTopBlock:nth-child(1) a .footerTopImg { background-image: url('../3_images/1_about/svgexport-29.png'); }

.footerTopBlock:nth-child(2) a .footerTopImg { background-image: url('../3_images/1_about/svgexport-30.png'); }

.footerTopBlock:nth-child(3) a .footerTopImg { background-image: url('../3_images/1_about/svgexport-31.png'); }

.footerTopBlock:nth-child(1):hover a .footerTopImg { background-image: url('../3_images/0_common/svgexport-26.png'); }

.footerTopBlock:nth-child(2):hover a .footerTopImg { background-image: url('../3_images/0_common/svgexport-24.png'); }

.footerTopBlock:nth-child(3):hover a .footerTopImg { background-image: url('../3_images/0_common/svgexport-25.png'); }

.footerTopPara, 
.footerTopButton,
.footerTopPara strong { color: #fff; }

.footerTopPara { margin: 1.25rem 0rem; }

.footerTopPara, 
.footerTopPara strong {
	font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footerTopPara strong { font-weight: 600; }

.footerTopButton {
	padding: 0.7rem 1.5rem;
	border-style: none;
	border-radius: 0.2rem;
	background-color: #f2720c;
}


/* ------ Footer Bottom -----------*/

.footerBottom {
	padding: 1.5rem 0.8rem;
	flex-direction: column;
	background-color: #242729;
}

.footerBottomMiddleBlock h5 a,
.footerBottomListItem:hover a,
.nestedListSubItem:hover a ,
.socialLinkItem a:hover { color: #bbc0c4; }

.footerBottomListItem a,
.footerBottomMiddleList p,
.nestedListSubItem a,
.socialLinkItem a,
.licenseDetail p { 
	color: #848d95; 
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 0.7rem;
}


/* left */

.footerBottomLeft {display: none;}


/* Middle */

.footerBottomMiddle { flex-wrap: wrap; }

.footerBottomMiddleBlock { padding: 0rem 1.2rem 1rem 0rem; }

.footerBottomMiddleBlock h5 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-family: "Liberation Sans", sans-serif;
    font-size: 0.75rem;
}

.footerBottomMiddle ul li { 
	padding-bottom: 0.3rem;
	display: block; 
}

.footerBottomMiddleList p { display: inline-block; }

.footerBottomMiddleList p:hover { color: #f2720c; }

.click { padding-bottom: 0.3rem; }

.footerNext, 
.footerBack { background-color: #bbc0c4; }

.footerBack { display: none; }

.nestedList { display: none; }

.footerNext {
	width: 0.7rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
    transform: rotate(180deg);
}


/* right */

.footerBottomRight { 
	height: 100%;
	flex-direction: column; 
	justify-content: space-between;
}

.socialLinks { margin-bottom: 0.5rem; }

.socialLinkItem { margin-right: 0.5rem; }

.socialLinkItem a { font-size: 0.72rem }

.licenseDetail p { 
	font-size: 0.69rem; 
	line-height: 1rem;
    word-spacing: 0.13rem;
}



/* ======================================== Media Query ====================================================*/


@media only screen and (min-width: 483px) and (max-width: 732px) {
	/* ------------- Main -------------- */
		/* ----- intro section ------ */
		.introTop1 { height: 543px; }
}


@media only screen and (min-width: 577px) {

	html { font-size: 15.2px; }

	/* ------------- Main -------------- */
		/* ---- product section ----- */
		.headingLine { width: 33%; }

		.productBlock a {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: right;
		}

		.productBlock:nth-child(2) a { background-image: url('../3_images/1_about/abstract-teams.png'); }

		.productBlock:nth-child(3) a { background-image: url('../3_images/1_about/abstract-talent.png'); }

		.productBlock:nth-child(4) a { background-image: url('../3_images/1_about/abstract-advertising.png'); }

		.productBlock:nth-child(5) a {
			background-image: url('../3_images/1_about/abstract-public-platform.png');
			background-size: 179px 123px;
		}

		.productBlockMain { 
			width: 64%; 
			padding: 1.6rem 1.5rem;
		}
		

		/* ---- coreValue section --- */
		.coreValueContent { 
			width: 84%; 
			justify-content: space-between;
		}

		.coreValueBlock { width: 26%; }


		/* ---- location section ---- */
		.location { width: 59%; }


	/* ------------ Footer ------------- */
		/* -- footerBottom section -- */
		.footerBottom { padding: 1.5rem 1rem; }

		.footerBottom1 { display: flex; }

		.footerBottomLeft {
			width: 4rem;
			display: block;
		}

		.footerBottomMiddle {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.footerBottomMiddleBlock { padding: 0rem 0.5rem 1rem 0rem; }

		.footerBottomMiddleBlock:nth-child(1) { width: 170px; }

		.footerBottomMiddleBlock:nth-child(2) { width: 114px; }

		.footerBottomMiddleBlock:nth-child(3) { width: 120px; }

		.footerBottomMiddleBlock h5 { 
			margin-bottom: 1rem;
			font-size: 0.85rem; 
		}

		.click, 
		.footerBottomMiddle ul li { padding-bottom: 0.5rem; }

		.nestedListSubItem a,
		.footerBottomListItem a, 
		.footerBottomMiddleList p { font-size: 0.85rem; }
}


@media only screen and (min-width: 733px) {

	html { font-size: 15.5px; }

	/* ------------ Header ------------- */	
		/* ---- headerTop section --- */

		.headerTop { padding: 1rem 2rem; }

		.headerTopLeftNav ul li:nth-child(3),
		.headerTopLeftNav ul li:nth-child(4) { display: inline-block; }

		.headerTopLeftNav ul li:nth-child(2), 
		.headerTopLeftNav ul li:nth-child(3), 
		.headerTopLeftNav ul li:nth-child(4) { padding: 0rem 0.4rem 0.2rem 0.4rem; }

		.headerTopRightNav ul li:nth-child(2), 
		.headerTopRightNav ul li:nth-child(3), 
		.headerTopRightNav ul li:nth-child(4), 
		.headerTopRightNav ul li:nth-child(5 ) { padding-left: 0.4rem; }
		
		
		/* -- headerBottom section -- */
		.headerBottom { 
			padding: 1rem 2rem;
			flex-direction: row; 
		}

		.headerBottomLeftNav { width: 60%; }


		.headerBottomRight { 
			padding-top: 0rem;
			border: none;
			align-self: center; 
		}

		.takeTour { height: 2rem; }


	/* ------------- Main -------------- */
		/* ----- intro section ------ */
		
		/*introTop*/
		.introTop {
			padding: 3rem 0rem;
			flex-direction: row;
			justify-content: flex-start;	
			align-items: center;		
	    }

		.introTop1 { 
			width: 50%;
			height: 512px;
			background-image: url(../3_images/1_about/bg-header-desktop.png);
	    	background-repeat: no-repeat;
	    	background-position: left center;
	    	background-size: contain;
		}

		.introTop2 { 
			width: 34%;
			margin-right: 4rem;
			margin-left: 2rem;
		}


		/*introBottom*/
		.introBottom {
			padding: 0rem 0rem 2rem 0rem;
			margin: 0rem 2rem;	
			flex-wrap: nowrap;
		}

		.introBottom li {
			width: auto;
			padding: 2rem 1.5rem;
		}

		.introBottom li:nth-child(1), 
		.introBottom li:nth-child(2), 
		.introBottom li:nth-child(3), 
		.introBottom li:nth-child(4) { 
			border-right:1px solid #e4e6e8; 
			border-bottom: 0px;
		}


	    /* ---- history section ----- */
	    .history {
	    	flex-direction: row;
	    	justify-content: space-between;
	    }

	    .historyAward { width: 51%; }

	    .award { margin: 1.5rem; }

	    .historyContent { width: 46%; }


	    /* ---- product section ----- */

	    .headingLine { width: 35%; }

	    .productBlockMain { width: 60%; }


	/* ------------ Footer ------------- */
		.footerTop {	
		    padding: 4rem 3rem;
		    flex-direction: row;
		    justify-content: space-around;
		}

		.footerTopBlock {
			width: 287px;
			height: 224px;
			text-align: left;
		}

		.footerTopBlock a {
			height: 100%;
			display: flex;
	    	flex-direction: column;
	   	 	justify-content: flex-start;
		}

		.footerTopImg { margin: 0; }

		.footerTopButton { 
			width: 38%; 
			align-self: end; 
		}

		.footerTopBlock:nth-child(2), 
		.footerTopBlock:nth-child(3) { margin: 0; }

		.footerTopBlock:nth-child(1) a .footerTopButton { width: 109px; }

		.footerTopBlock:nth-child(2) a .footerTopButton { width: 118px; }

		.footerTopBlock:nth-child(3) a .footerTopButton { width: 130px; }

}

@media only screen and (min-width: 733px) and (max-width: 942px) {
	/* -- footerTop section ----- */
	.footerTopPara { height: 68px; }
}

@media only screen and (min-width: 991px) {

	/* ------------- Main -------------- */
		/* ---- product section ----- */
		.productContent { 
			padding: 2rem 4rem;
			padding-top: 3rem;
			justify-content: space-between; 
		}

		.productBlock { width: 48%; }

		.productBlockFull { width: 100%; }


		/* ---- location section ---- */
		.location {
			width: 82%;
			flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
		}

		.locationLeft { 
			width: 50%; 
			text-align: left;
		} 

}

@media only screen and (min-width: 766px) {

	/* ------------ Footer ------------- */
		/* -- footerBottom section -- */
		.footerBottom { 
			flex-direction: row; 
			justify-content: space-between;
		}

		.footerBottom1 { flex-grow: 1; }

		.footerBottom2 { width: 314px; }

		.footerBottomMiddle {
			justify-content: space-between;
	    	flex-grow: 1;
		}

		.footerBottomMiddleBlock:nth-child(4) { padding-right: 4rem; }
}

/* Laptop breakpoint */
@media only screen and (min-width: 1024px) {

	html { font-size: 16px; }

	/* ------------ Header ------------- */
	
	header { background-size: 92rem 7rem; }


		/* ---- headerTop section --- */
		
		.headerTopRightNav ul li:nth-child(1),
		.headerTopRightNav ul li:nth-child(2),
		.headerTopRightNav ul li:nth-child(3),
		.headerTopRightNav ul li:nth-child(4) { 
			display: inline-block; 
			padding-left: 0rem;
			padding-right: 1rem;
		}


	/* ------------- Main -------------- */

		/* ----- intro section ------ */
	   	/*introBottom*/
		.introBottom { margin: 0rem 4rem; }

		/* ---- product section ----- */
		.headingLine { width: 40%; }

}

@media only screen and (min-width: 1095px)  {

	/* ------------- Main -------------- */
	.product,
	.investor,
	.coreValue {
		width: 934px;
		width: 1037px;
		margin: 0 auto;
	}

		/* ---- product section ----- */

		.heading { justify-content: space-between; }

		.headingLine, 
		.coreValue hr { width: 38%; }

		.productContent { 
			padding: 2rem 1rem; 
			padding-top: 3rem;
		}

		/* ---- coreValue section --- */
		.coreValueContent { width: 100%; }
}

@media only screen and (min-width: 1187px) {

	/* ------------- Main -------------- */
	
		/* ---- history section ----- */
		.award {
			width: 14rem;
		}
}

@media only screen and (min-width: 1330px) {

	/* ------------- Main -------------- */
		/* ---- product section ----- */
		.sectionContainer {
			width: 1297px;
			margin: 0 auto;
		}

		/* ---- location section ---- */
		.location { width: 1037px; }
}

@media only screen and (min-width: 1332px) {

	/* ------------ Header ------------- */
	.headerTop,
	.headerBottom { padding: 1rem 7rem; }

	/* ------------- Main -------------- */
	.sectionContainer { width: 90%; }

	/* ------------ Footer ------------- */
		.footerBottom { 
			padding: 1.5rem 5rem;
		}
}
