/* ======================================= Common Styling =================================================*/
.mainTopHeading,
.mainBottomHeading { 
	font-family: "Roboto Slab", serif; 
	color: #242729;
}


.mainTopPara,
.mainTopPara a,
.mainBottomPara,
.checkList li span { 
	font-family: "Source Sans Pro", sans-serif; 
	color: #242729;
}

/* ======================================== Main Styling =================================================*/

main {
	padding: 5rem 0.8rem;
	border: 1px solid #eff0fac1;
	border-top: 0px;
	border-radius: 7px;
	margin: 0 auto;
    margin-bottom: 3.5rem;
    box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 0 100px 80px rgb(0 0 0 / 7%);
}

/* ------ Main Top --------------*/

.mainTop { 
	padding-bottom: 4rem;
	margin: 0 auto;
    border-bottom: 1px solid #eff0f1;
	text-align: center; 
}

.heartImg { margin: 0 auto; }

.mainTopHeading { 
	padding: 0rem 0.32rem;
	margin: 1.5rem auto;
	font-size: 1.8rem; 
	font-weight: 400;
	line-height: 2.2rem;
}

.mainTopPara1 { 
	/*padding: 0rem 0.5rem;*/
	margin: 0 auto;
	margin-bottom: 1.5rem;
	font-size: 1.1rem; 
	line-height: 1.4rem;
}

.mainTopPara1 a { color: #0077cc; }

.mainTopPara2 {
	padding: 0rem 0.05rem;
	margin: 0 auto;
    font-size: 1rem;
    line-height: 1.3rem;
}


/* ------ Main Bottom -----------*/

.mainBottom { 
	padding: 2.5rem 0.3rem 0rem 0.3rem; 
	margin: 0 auto;
}

.mainBottom1,
.mainBottom2,
.mainBottom3,
.mainBottom4 {}

.mainBottomHeading {
	font-size: 1.4rem;
    font-weight: 400;
}

.mainBottomPara { 
	margin-bottom: 2rem;
	font-size: 1rem; 
	line-height: 1.3rem;
}

.mainBottomPara a { color: #0077cc; }

.checkList {
	padding: 1rem 2rem;
	margin-bottom: 2rem;
    background-color: #fafafb;
}

.checkList li {
	padding: 1rem 0rem;
    display: flex;
}

.checkList li:nth-child(1),
.checkList li:nth-child(2) { border-bottom: 1px solid #e4e6e8; }

.checkList li img {
	height: 20px;
	margin-right: 1rem;
}

.checkList li span {
	font-size: 1rem;
    line-height: 1.3rem;
}


/* ======================================== Media Query =================================================*/

@media only screen and (min-width: 470px) {

	main { padding: 0rem 1.5rem; }

	/* ------ Main Top --------------*/

		.mainTopPara1 { width: 408px; }

		.mainTopPara2 { 
			width: 407px; 
			font-size: 0.98rem;
		}

}


@media only screen and (min-width: 577px) {

		main { padding: 5rem 3.5rem; }

		/* ------ Main Top --------------*/

			.mainTopHeading {
				font-size: 2.8rem;
	    		line-height: 3.4rem;
			}

			.mainTopPara1 {
				width: 424px;
				font-size: 1.2rem;
			    font-weight: 100;
			    line-height: 1.5rem;
			}

			.mainTopPara2 {
				width: 437px;
				font-size: 1.05rem;
			    line-height: 1.35rem;
			}

		/* ------ Main Bottom -----------*/

			.mainBottomHeading {
				margin: 1.3rem 0rem;
				font-size: 1.7rem;
			}

			.mainBottomPara {
				margin-bottom: 2.2rem;
				font-size: 1.05rem;
	    		line-height: 1.35;	
			}

}


@media only screen and (min-width: 800px) {
	
	/* ------ Main Top --------------*/

		.mainTop { width: 677px; }

	/* ------ Main Bottom -----------*/
		
		.mainBottom { width: 665px 	; }

}

@media only screen and (min-width: 1360px) {

	/* ------ body --------------*/
		body {
			background-image: url(../3_images/0_common/bg-nav.png);
			background-repeat: no-repeat;
			background-size: 100% 15rem;	
		}

	/* ------ header --------------*/
		header { background: none; }

	/* ------ main --------------*/
		
		main {
			width: 1337px;
			border-top: 1px solid #eff0fac1;
			background-color: white;
		}

}