/* ======================================== Common Styling =================================================*/

html { 
	font-size: 14.2px; 
	/*font-size: 15px; */
}

a{ 
	text-decoration: none; 
	cursor: pointer;
}

ul {
	padding: 0rem;
	margin: 0rem;
}

ul li { display: inline-block; }

* { 
	box-sizing: border-box; 
	font-family: 'Source Sans Pro',sans-serif;
	color: #535a60;
}

 p { margin: 0rem; }

.flex { display: flex; }

/* ======================================== Header Styling =================================================*/

/* ------ Header Top --------------*/

header {
	background-image: url("../3_images/0_common/bg-nav.png");
	background-size: 51rem 7rem;
	background-repeat: no-repeat;	
	font-size: 0.85rem;
}



.headerTop {
	padding: 1rem 0.9rem;
	border-bottom: 1px solid #e4e6e8;
	justify-content: flex-start;
	align-items: flex-end;	
}

.logo { width: 2.5rem; }

.logo a img { width: 1.55rem; }

.headerTopLeftNav { flex-grow: 2; }

.headerTopRightNav ul li { padding-bottom: 0.2rem; }

.headerTopLeftNav ul li:nth-child(2),
.headerTopLeftNav ul li:nth-child(3),
.headerTopLeftNav ul li:nth-child(4) { padding: 0rem 0.5rem 0.2rem 0.5rem; }

.headerTopLeftNav ul li:nth-child(1) {
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e4e6e8;
}

.headerTopRightNav ul li:nth-child(4) { border-right: 1px solid #e4e6e8; }

.headerTopRightNav ul li:nth-child(2),
.headerTopRightNav ul li:nth-child(3),
.headerTopRightNav ul li:nth-child(4), 
.headerTopRightNav ul li:nth-child(5) { padding-left: 1rem; }

.headerTopLeftNav ul li:nth-child(3),
.headerTopLeftNav ul li:nth-child(4),
.headerTopRightNav ul li:nth-child(1),
.headerTopRightNav ul li:nth-child(2),
.headerTopRightNav ul li:nth-child(3),
.headerTopRightNav ul li:nth-child(4) { display: none; }


/* ------ Header Bottom -----------*/

.headerBottom {
	padding: 1rem 1rem;
	flex-direction: column;
	justify-content: space-between;
}

.headerBottomLeftNav { justify-content: flex-start; }


.headerBottomLeftNav ul li {	
	padding: 0.5rem 0.5rem;
	border-radius: 2rem;
	margin: 0.5rem 0rem;
}

.active { background-color: hsl(27deg 90% 53%); } 

.headerBottomLeftNav ul li:hover {
	padding: 0.5rem 0.5rem;
	border-radius: 2rem;
	background-color: #e4e6e8;
	color: black;
}

.headerBottomLeftNav ul .active:hover { background-color: hsl(27deg 90% 53%); }

.headerBottomLeftNav ul li a { color: #535a60; }

.headerBottomLeftNav ul .active a { color: white; } 

.headerBottomRight {
	padding-top: 1rem;
	border-top: 1px solid #e4e6e8;
	justify-content: flex-end;
}

.headerBottomRight span {
	margin-right: 1rem;
	align-items: center;
	color: black;
}

.button,
.headerBottomRight button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #0095ff;
}

.button a,
.sectionButton,
.headerBottomRight button a { color: white; }


/* ======================================== Footer Styling =================================================*/


/* ------ Footer Top --------------*/

.footerTop {
	padding: 4rem 1rem;
	flex-direction: column;
	align-items: center;
	background-color: #2f3337; 
}

.footerTopBlock { 
	width: 271px;
	text-align: center;
	cursor: pointer;
}

.footerTopBlock:nth-child(2),
.footerTopBlock:nth-child(3) { margin-top: 5.5rem; }

.footerTopImg {
	width: 78px;
	height: 78px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
}

.footerTopBlock:nth-child(1) a .footerTopImg { background-image: url('../3_images/1_about/svgexport-29.png'); }

.footerTopBlock:nth-child(2) a .footerTopImg { background-image: url('../3_images/1_about/svgexport-30.png'); }

.footerTopBlock:nth-child(3) a .footerTopImg { background-image: url('../3_images/1_about/svgexport-31.png'); }

.footerTopBlock:nth-child(1):hover a .footerTopImg { background-image: url('../3_images/0_common/svgexport-26.png'); }

.footerTopBlock:nth-child(2):hover a .footerTopImg { background-image: url('../3_images/0_common/svgexport-24.png'); }

.footerTopBlock:nth-child(3):hover a .footerTopImg { background-image: url('../3_images/0_common/svgexport-25.png'); }


.footerTopPara, 
.footerTopButton,
.footerTopPara strong { color: #fff; }

.footerTopPara { margin: 1.25rem 0rem; }

.footerTopPara, 
.footerTopPara strong {
	font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footerTopPara strong { font-weight: 600; }

.footerTopButton {
	padding: 0.7rem 1.5rem;
	border-style: none;
	border-radius: 0.2rem;
	background-color: #f2720c;	
}


/* ------ Footer Bottom -----------*/

.footerBottom {
	padding: 1.5rem 0.7rem;
	background-color: #242729;
	flex-direction: column;
}

.footerBottomMiddleBlock h5 a,
.footerBottomListItem:hover a,
.nestedListSubItem:hover a ,
.socialLinkItem a:hover { color: #bbc0c4; }

.footerBottomListItem a,
.footerBottomMiddleList p,
.nestedListSubItem a,
.socialLinkItem a,
.licenseDetail p { 
	color: #848d95; 
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 0.7rem;
}


/* left */
.footerBottomLeft {display: none;}


/* Middle */
.footerBottomMiddle { flex-wrap: wrap; }

.footerBottomMiddleBlock { padding: 0rem 1.2rem 1rem 0rem; }

.footerBottomMiddleBlock h5 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-family: "Liberation Sans", sans-serif;
    font-size: 0.75rem;
}

.footerBottomMiddle ul li { 
	padding-bottom: 0.2rem;
	display: block; 
}

.footerBottomMiddleList p { 
	padding-right: 0.3rem;
	display: inline-block; 
}

.footerBottomMiddleList .click:hover p { color: #bbc0c4; }

.footerBottomMiddleList .click:hover .footerNext { background-color: #bbc0c4; }

.click { 
	padding-bottom: 0.3rem; 
	cursor: pointer;
}

.footerNext, 
.footerBack { background-color: #848d95; }

.footerNext:hover { background-color: #bbc0c4; }

.footerBack { 
    height: 20px;
    margin-right: 2rem;
	display: none; 
	cursor: pointer;
}

.nestedList { display: none; }

.footerNext {
	width: 0.7rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
    transform: rotate(180deg);
}


/* right */

.footerBottomRight { 
	height: 100%;
	flex-direction: column; 
	justify-content: space-between;
}

.socialLinks { margin-bottom: 0.5rem; }

.socialLinkItem { margin-right: 0.5rem; }

.socialLinkItem a { font-size: 0.72rem }

.licenseDetail p { 
	font-size: 0.69rem; 
	line-height: 1rem;
    word-spacing: 0.13rem;
}


/* ======================================== Media Query ====================================================*/


@media only screen and (min-width: 483px) and (max-width: 732px) {

}


@media only screen and (min-width: 577px) {

	html { font-size: 14.4px; }

	/* ------------ Footer ------------- */	
		/* -- footerBottom section -- */
		.footerBottom { padding: 1.5rem 1rem; }

		.footerBottom1 { display: flex; }

		.footerBottomLeft {
			width: 4rem;
			display: block;
		}

		.footerBottomMiddle {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.footerBottomMiddleBlock { padding: 0rem 0.5rem 1rem 0rem; }

		.footerBottomMiddleBlock:nth-child(1) { width: 170px; }

		.footerBottomMiddleBlock:nth-child(2) { width: 114px; }

		.footerBottomMiddleBlock:nth-child(3) { width: 120px; }

		.footerBottomMiddleBlock h5 { 
			margin-bottom: 1rem;
			font-size: 0.8rem; 
		}

		.click,
		.footerBottomMiddle ul li { padding-bottom: 0.5rem; }

		.footerBottomListItem a, 
		.footerBottomMiddleList p, 
		.nestedListSubItem a { font-size: 0.79rem; }
}


@media only screen and (min-width: 733px) {

	html { font-size: 14.7px; }

	/* ------------ Header ------------- */	
		/* ---- headerTop section --- */

		.headerTop { padding: 1rem 2rem; }

		.headerTopLeftNav ul li:nth-child(3),
		.headerTopLeftNav ul li:nth-child(4) { display: inline-block; }

		.headerTopLeftNav ul li:nth-child(2), 
		.headerTopLeftNav ul li:nth-child(3), 
		.headerTopLeftNav ul li:nth-child(4) { padding: 0rem 0.4rem 0.2rem 0.4rem; }

		.headerTopRightNav ul li:nth-child(2), 
		.headerTopRightNav ul li:nth-child(3), 
		.headerTopRightNav ul li:nth-child(4), 
		.headerTopRightNav ul li:nth-child(5 ) { padding-left: 0.4rem; }
		
		
		/* -- headerBottom section -- */
		.headerBottom { 
			padding: 1rem 2rem;
			flex-direction: row; 
		}

		.headerBottomLeftNav { width: 60%; }


		.headerBottomRight { 
			padding-top: 0rem;
			border: none;
			align-self: center; 
		}

		.takeTour { height: 2rem; }


	/* ------------ Footer ------------- */
		/* -- footerTop section ----- */
		.footerTop {
			padding: 4rem 3rem;
			flex-direction: row;
	    	justify-content: space-around;
		}

		.footerTopBlock {
			width: 287px;
			height: 224px;
			text-align: left;
		}

		.footerTopBlock a {
			height: 100%;
			display: flex;
	    	flex-direction: column;
	    	justify-content: flex-start;
		}

		.footerTopImg { margin: 0; }

		.footerTopButton { 
			width: 38%; 
			align-self: end; 
		}

		.footerTopBlock:nth-child(2), 
		.footerTopBlock:nth-child(3) { margin: 0; }

		.footerTopBlock:nth-child(1) a .footerTopButton { width: 109px; }

		.footerTopBlock:nth-child(2) a .footerTopButton { width: 118px; }

		.footerTopBlock:nth-child(3) a .footerTopButton { width: 130px; }

}


@media only screen and (min-width: 733px) and (max-width: 942px) {

	/* ------------ Footer ------------- */
		/* -- footerTop section ----- */
		.footerTopPara { height: 68px; }
}



@media only screen and (min-width: 991px) {
	
}



@media only screen and (min-width: 766px) {
	
	/* ------------ Footer ------------- */
		/* -- footerBottom section -- */
		.footerBottom { 
			flex-direction: row; 
			justify-content: space-between;
		}

		.footerBottom1 { flex-grow: 1; }

		.footerBottom2 { width: 314px; }

		.footerBottomMiddle {
			justify-content: space-between;
	    	flex-grow: 1;
		}

		.footerBottomMiddleBlock:nth-child(4) { padding-right: 4rem; }
}

/* Laptop breakpoint */
@media only screen and (min-width: 1024px) {

	html { font-size:15.2px; }

	/* ------------- Main -------------- */
	
	header { background-size: 92rem 7rem; }

	
		/* ---- headerTop section --- */
		
		.headerTopRightNav ul li:nth-child(1),
		.headerTopRightNav ul li:nth-child(2),
		.headerTopRightNav ul li:nth-child(3),
		.headerTopRightNav ul li:nth-child(4) { 
			padding-left: 0rem;
			padding-right: 1rem;
			display: inline-block; 
		}

}

@media only screen and (min-width: 1095px)  {


}



@media only screen and (min-width: 1187px) {


}



@media only screen and (min-width: 1330px) {
	
}



@media only screen and (min-width: 1332px) {

	/* ------------ Header ------------- */
	.headerTop,
	.headerBottom { padding: 1rem 7rem; }


	/* ------------ Footer ------------- */
	.footerBottom { 
		padding: 1.5rem 5rem;
	}

}