/* ======================================== Main Common Styling =================================================*/

.flex { flex-wrap: wrap; }

.mainTop h2,
.personName { font-family: "Roboto Slab", serif; }

.personImg p,
.readBio span { font-family: "Source Sans Pro", sans-serif; }

/* ======================================== Main Styling =================================================*/

main {
	padding: 0rem 2rem;
	border: 1px solid #eff0fac1;
    border-top: 0px;
    border-radius: 7px;
    margin: 0 auto 3.5rem auto;
    box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 
    			0 100px 80px rgb(0 0 0 / 7%);
}


/* ---- mainTop section --- */
.mainTop {
	width: ;
    margin: 5rem auto 4rem auto;
	text-align: center;
}

.mainTopImg {
	width: 83px;
	margin: 0 auto;
}

.mainTopImg img { width: 100%; }

.mainTop h2 {
	margin-top: 0.5rem;
	font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
	color: #242729;
}


/* ---- mainBottom section --- */

.mainBottom { 
	margin-bottom: 2rem;
	justify-content: space-between; 
}

.person {
	width: 100%;
	padding: 2rem;
	border: 1px solid #eff0f1;
    border-radius: 2%;
	margin: 1.5rem 0rem;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, 
				rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, 
				rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
	text-align: center;
}

.person:hover { 
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px 0px, 
				rgba(0, 0, 0, 0.10) 0px 1px 4px 0px, 
				rgba(0, 0, 0, 0.10) 0px 2px 8px 0px;

}

.person a {}

.nameTop { border-bottom: 1px solid #eff0f1; }

.personImg {
	width: 107px;
	margin: 0 auto;
}

.personImg img {
	width: 100%;
    border-radius: 5%;
}

.personName {
    margin: 1.25rem 0rem 0.3rem 0rem;
	font-size: 1.24rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #2f3337;
}

.personDepartment {    
    margin-bottom: 1.5rem;
    font-size: 1rem;
	color: #535a60;
}

.readBio {
	padding-top: 1rem;
	justify-content: center;
}

.readBioImg {
	width: 1.2rem;
	margin-right: 0.5rem;
}

.readBioImg img { width: 100%; }

.readBio span {
	font-size: 1rem;
	font-weight: 500;
	color: #0095ff;
}