/* ======================================= Common Styling =================================================*/
.mainTopHeading,
.mainBottomHeading { 
	font-family: "Roboto Slab", serif; 
	color: #242729;
}


.mainTopPara,
.mainTopPara a,
.mainBottomPara,
.checkList li span { 
	font-family: "Source Sans Pro", sans-serif; 
	color: #242729;
}

/* ======================================== Main Styling =================================================*/

main {}

/* ------ Main Top --------------*/

.mainTop { text-align: center; }

.heartImg {}

.mainTopHeading {}

.mainTopPara1 {}

.mainTopPara1 a {}

.mainTopPara2 {}

/* ------ Main Bottom -----------*/

.mainBottom {}

.mainBottom1,
.mainBottom2,
.mainBottom3,
.mainBottom4 {}

.mainBottomHeading {}

.mainBottomPara {}

.checkList {}

.checkList li {}

.checkList li img {}

.checkList li span {}