/* ======================================== Main Common Styling =================================================*/

main img { width: 100%; }

main a { color: #0077cc; }

main h2,
main h3,
main h4,
main h4,
main h5 { margin: 0; }

/* ---- color --- */

.date,
.sectionPara,
.companyNews .sectionPara { color: #6a737c; }

.productImagePara,
.abovePressHeading { color: #848d95; }

.sectionHeading,
.fastFactsListLi,
.pressHeaderPara1,
.fastFactListSpan,
.pressHeaderHeading,
.pressFooterHeading { color: #242729; }

.pressHeaderPara2,
.belowPressHeading { color: #535a60; }

/*{ color: #3c4146; }*/

.newsBlockFooter,
.whatWeDoBlock1Para,
.whatWeDoBlockHeading { color: #2f3337; }

/*{ color: #0c0d0e; }*/

.companyNews h3,
.companyNewsBlockHeader .date { color: white; }

/*{ color: rgb(170, 170, 170); }


/*orange*/
/*{ color: #f2720c; }*/


/*blue*/
.whatWeDoBlock1Heading a,
.resourceBlock a:hover span,
.resourceBlock a:hover span strong,
.pressFooter1 a:hover .pressFooter1Link span { color: #0095ff; }


.newsBlockPara,
.companyNewsBlockPara,
.resourceBlock a span,
.pressFooter1Link span,
.resourceBlock a span strong,
.whatWeDoBlock1Heading a:hover { color: #0077cc; }

.companyNewsBlockPara { color: #379fef; }


/*{ background-color: #fafafb; }

{ 
	border: 1px solid #d6d9dc; 
	border-radius: 4px;
}

{
	border: 1px solid rgb(89, 167, 222);
	box-shadow: rgba(0, 119, 204, 0.15) 0px 0px 0px 4px;
}*/

.resourceBlock,
.whatWeDoBlock,
.sectionContentBlock {	
	border: 1px solid #eff0f1;
    border-radius: 2%;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, 
				rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, 
				rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

.resourceBlock:hover
.sectionContentBlock:hover {
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px 0px, 
				rgba(0, 0, 0, 0.10) 0px 1px 4px 0px, 
				rgba(0, 0, 0, 0.10) 0px 2px 8px 0px;
}


/* ---- Border --- */

/*{ border-bottom: 1px solid #eff0f1; }

{
    box-shadow: 0px -37px 30px rgb(0 0 0 / 2%) inset;
    background-color: #f9fbfd;
}
*/

/* ---- Font --- */

.newsBlockPara,
.sectionHeading,
.fastFactListSpan,
.abovePressHeading,
.pressFooterHeading,
.pressHeaderHeading,
.companyNewsBlockPara,
.whatWeDoBlockHeading,
.whatWeDoBlock1Heading a { font-family: "Roboto Slab", serif; }

.date,
.sectionPara,
.fastFactsListLi,
.productImagePara,
.pressHeaderPara1,
.pressHeaderPara2,
.belowPressHeading,
.whatWeDoBlock1Para,
.resourceBlock a span,
.pressFooter1Link span { font-family: "Source Sans Pro", sans-serif; }

.pressHeaderHeading { font-weight: 500; }

.fastFactListSpan { font-weight: 600; }


/* 28.6px */

.pressHeaderHeading { 
	font-size: 1.8rem;
	line-height: 2.2rem;
}


/* 25.3px */

.sectionHeading { font-size: 1.6rem; }


/* 22px */

.pressFooterHeading { font-size: 1.4rem; }


/* 19.8px */

.fastFactListSpan,
.pressHeaderPara1 { 
	font-size: 1.28rem; 
	line-height: 1.8rem;
}


/* 17.6px */

.sectionPara,
.newsBlockPara,
.pressHeaderPara2,
.abovePressHeading,
.belowPressHeading,
.whatWeDoBlock1Para,
.whatWeDoBlockHeading,
.companyNewsBlockPara,
.whatWeDoBlock1Heading a { 
	font-size: 1.13rem; 
	line-height: 1.45rem;
	line-height: 1.55rem;
}


/* 15.4px */

.date,
.productImagePara,
.resourceBlock a span,
.pressFooter1Link span { 
	font-size: 1rem; 
	line-height: 1.3rem;
}


/* 14.3px */

.button a,
.newsBlockFooter {
	font-size: 0.93rem;
    line-height: 1.15rem;
}


/* 11px */

.fastFactsListLi {
	font-size: 0.98rem;
    line-height: 1.3rem;
}


/* ---- Alignment --- */

.news,
.whatWeDo,
.resource,
.fastFacts,
.pressFooter,
.pressHeader,
.companyNews,
.pressHeaderImg { margin: 0 auto; }

.sectionPara,
.pressHeader,
.pressFooter1,
.productImages,
.sectionHeading { text-align: center; }


.sectionContent,
.productImageGallery { flex-direction: column; }


/* ======================================== Main Styling =================================================*/

main {
	padding: 6.4rem 0.9rem;
	border: 1px solid #eff0fac1;
    border-top: 0px;
    border-radius: 7px;
    margin: 0 auto 3.5rem auto;
    box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 0 100px 80px rgb(0 0 0 / 7%);
    background-image: url('../3_images/5_press/press-header.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* -- pressHeader section ----- */

.pressHeaderImg { width: 79px; }

.abovePressHeading { 
	margin: 1.5rem auto 0.3rem auto;
	display: block; 
}

.pressHeaderHeading { margin-bottom: 1.2rem; }

.belowPressHeading{ margin-bottom: 6rem; }

.pressHeaderPara1 { margin-bottom: 1.5rem; }

.pressHeaderPara2 { margin-bottom: 9rem;  }


/* -- section ----- */

.sectionHeading { margin-bottom: 0.7rem; }

.sectionPara { margin-bottom: 2.7rem; }


/* -- whatWeDo section ----- */

.whatWeDo .sectionContent { 
	padding: 0rem 1rem; 
	margin-bottom: 6rem;
}

.whatWeDoBlock {
	padding: 2rem 1.5rem;
	border-radius: 3%;	
}

.whatWeDoBlock:nth-child(2) { margin: 2rem 0rem; }

.whatWeDoBlock1 { background: linear-gradient(0deg, #fff7f2 30%, white); }

.whatWeDoBlock2 { background: linear-gradient(0deg, #f2f9ff 30%, white); }

.whatWeDoBlock3 {background: linear-gradient(0deg, #fdf3f4 30%, white);}

.whatWeDoBlock1Heading { margin-bottom: 1rem; }


/* -- fastFacts section ----- */

.fastFacts {
	padding: 4rem 1.5rem;
	border-radius: 3%;
	background-color: #f2f9ff;
}

.fastFactsList { margin-bottom: 0rem; }

.fastFactsListLi {
	padding: 2rem 0rem;
    border-bottom: 1px solid #cfeafe;
}

.fastFactsListLi:nth-child(5) { border-bottom: none; }

.fastFactListSpan {
	padding: 0.1rem;
	background-color: #fdf7e3;
}


/* -- news section ----- */

.news { margin-top: 6rem; }

.newsBlock {  
	padding: 1.5rem;
	margin-bottom: 2rem;
}

.newsBlockHeader,
.companyNewsBlockHeader { margin-bottom: 1rem; }

.newsBlockHeader img,
.companyNewsBlockHeader img {
	width: 16px;
    margin-right: 0.3rem;
    vertical-align: text-top;
}

.newsBlockPara,
.companyNewsBlockPara { margin-bottom: 3rem; }

.newsBlockFooter { display: block; }

.news .button {
	padding: 0.7rem 2.1rem;
    border-radius: 5px;
	margin: 2rem auto 6rem auto;
    display: block;  
}


/* -- companyNews section ----- */

.companyNews {
    padding: 4.5rem 1rem 2.5rem 1rem;
    background-color: #2f3337;
    margin: 0rem -0.9rem;
}

.companyNewsBlock {
    padding: 2rem 2rem 3rem 2rem;
    border: none;
    margin-bottom: 2rem;
    background-color: #3c4146;
}


/* -- resource section ----- */

.resource { margin-top: 4rem; }

.resource .sectionContent { padding: 1rem; }

.resourceBlock {	
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

.resourceBlock a img {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
    vertical-align: text-top;
}


/* -- pressFooter section ----- */

.pressFooter { margin-top: 2rem; }

.pressFooterHeading { 
	margin-bottom: 1rem; 
	font-weight: 500;
}

.pressFooter1Link { margin-bottom: 	3rem; }

.pressFooter1Link img { 
	width: 16px; 
	margin-right: 0.3rem;
	vertical-align: text-bottom;
}

.pressFooter1HoverImg { display: none; }

.pressFooter1 a:hover img { display: none; }

.pressFooter1 a:hover .pressFooter1HoverImg { display: inline-block; }


/*productImages*/

.productImageGallery { margin-top: 3rem; }

.productPhoto {
	margin-bottom: 2rem;
	border-radius: 7px;
}

.productImageBlock1 .productPhoto,
.productImageBlock4 .productPhoto { 
	border:	1px solid #eff0f1; 
	box-shadow: 0rem 0rem 0.1rem 0rem;
}

.productPhoto a img { border-radius: 7px; }

.productImageBlock4 .productPhoto:last-child { margin-bottom: 0rem; }


/* ======================================== Media Styling =================================================*/


@media only screen and (min-width: 1360px) {

	body {
	    background-image: url(../3_images/0_common/bg-nav.png);
	    background-repeat: no-repeat;
	    background-size: 100% 15rem;
	}

	/* ------------ Header ------------- */

		header { background: none; }

	/* ------------- Main -------------- */

		main {
			width: 1310px;
		    border-top: 1px solid #eff0fac1;
		    background-color: white;
		}
		
}