/* ======================================== Main Common Styling =================================================*/

/*main img { width: 100%; }*/

/*main div img { width: 20px; }*/

main a { color: #0077cc; }

main h2,
main h3,
main h4,
main h4,
main h5 { margin: 0; }


/* ---- Color --- */

.newsPara,
.newsDateWrapper span { color: #6a737c; }

.mainHeaderContentAboveHeading { color: #848d95; }

.newsHeading,
.whoWeAreLeft h3,
.ourCoreValue h3,
.ourBenefitsBlock p,
.ourCoreValueBlock p,
.ourCommitmentLeft h3,
.ourCommitmentRight li p,
.whoWeAreRight figcaption,
.mainHeaderContentHeading { color: #242729; }

.whoWeAreLeft p,
.ourCommitmentLeft p,
.mainHeaderContentBelowHeading { color: #535a60; }

.whoWeAreRight span { color: #9fa6ad; }

.ourBenefitsBlock h5,
.ourCoreValueBlock h5,
.ourCommitmentRight li h4 { color: #3c4146; }

.headingWithLineHeading { color: #2f3337; }


/*blue*/
.newsHeading:hover,
.whoWeAreLeft p a:hover,
.ourCommitmentRight li p a:hover { color: #0095ff; }


.whoWeAreLeft p a,
.ourCommitmentRight li p a { color: #0077cc; }


/* ---- Font --- */

.newsHeading,
.ourCoreValue h3,
.whoWeAreLeft h3,
.ourBenefitsBlock h5,
.ourCoreValueBlock h5,
.ourCommitmentLeft h3,
.headingWithLineHeading,
.mainHeaderContentHeading,
.whoWeAreRight figcaption,
.ourCommitmentRight li h4,
.mainHeaderContentAboveHeading { font-family: "Roboto Slab", serif; }

.newsPara,
.whoWeAreLeft p,
.whoWeAreLeft p a,
.ourBenefitsBlock p,
.whoWeAreRight span,
.ourCoreValueBlock p,
.ourCommitmentLeft p,
.newsDateWrapper span,
.ourCommitmentRight li p,
.mainHeaderContent .button a,
.mainHeaderContentBelowHeading { font-family: "Source Sans Pro", sans-serif; }

.mainHeaderContentHeading { font-weight: 500; }

 
/* 28.6px */
.mainHeaderContentHeading { 
	font-size: 1.8rem;
	line-height: 2.2rem;
}


/* 25.3px */
.ourCommitmentLeft h3 { 
	font-size: 1.6rem; 
	font-size: 1.8rem;
	line-height: 2.3rem;
}


/* 22px */
.newsHeading,
.whoWeAreLeft h3,
.ourCoreValue h3,
.headingWithLineHeading,
.whoWeAreRight figcaption { 
	font-size: 1.4rem; 
	font-size: 1.45rem; 
	line-height: 1.8rem;
	font-size: 1.6rem;
    line-height: 2rem;
}


/* 19.8px */
.ourCoreValueBlock h5,
.ourCommitmentRight li h4 { 
	font-size: 1.28rem; 
	line-height: 1.7rem;
}


/* 17.6px */
.whoWeAreLeft p,
.ourCommitmentLeft p,
.ourBenefitsBlock h5,
.mainHeaderContentAboveHeading,
.mainHeaderContentBelowHeading { 
	font-size: 1.13rem; 
	line-height: 1.45rem;
	line-height: 1.55rem;
	line-height: 1.57rem;
	font-size: 1.25rem;
    line-height: 1.65rem;
    line-height: 1.7rem;
}


/* 15.4px */
.newsPara,
.whoWeAreRight span,
.ourBenefitsBlock p,
.ourCoreValueBlock p,
.ourCommitmentRight li p { 
	font-size: 1rem; 
	font-size: 1.07rem; 
	line-height: 1.3rem;
	line-height: 1.4rem;
	    line-height: 1.5rem;
}


/* 14.3px */
.newsDateWrapper span,
.mainHeaderContent .button a {
	font-size: 0.93rem;
    line-height: 1.15rem;
}


/* ---- Background --- */

.big2Box,
.small2Box,
.ourBenefits,
.ourCoreValue,
.tabBackground,
.recentCompanyNews,
.ourBenefitsWrapper,
.headingWithLineHeading,
.ourCoreValueBlockWrapper,
.ourBenefitsBlock:nth-child(8) { background-color: white; }


/* ---- Border --- */

.video7,
.video8,
.video9,
.newsImg,
.video10,
.videoBox,
.small1Box,
.ourBenefits,
.benifitDesign,
.ourBenefitsBlock,
.ourCommitmentRight,
.ourCoreValueBlockWrapper,
.ourCoreValueWrapper .design3 { border-radius: 7px; }


/* ---- Box Shadow --- */

.ourBenefits,
.ourCommitmentRight,
.ourCoreValueBlockWrapper {
	box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 
    			0 100px 80px rgb(0 0 0 / 7%);
}


/* ---- Alignment --- */

.tabBar,
.headingWithLine,
.ourCommitmentLeftImg, 
.headingWithLineHeading { margin: 0 auto; }

.whoWeAreRight,
.ourCoreValue h3,
.headingWithLine,
.mainHeaderContent,
.ourBenefitsBlock:nth-child(8) { text-align: center; }

.big2Box,
.newsMain,
.whoWeAre,
.small2Box,
.ourCommitment,
.ourBenefitsBlockWrapper,
.ourCoreValueBlockWrapper { flex-direction: column; }


/* ---- Position --- */

.ourBenefits,
.ourCoreValue,
.headingWithLine,
.ourCoreValue h3,
.mainHeaderVideo,
.whoWeAreWrapper,
.recentCompanyNews,
.mainHeaderContent,
.ourBenefitsWrapper,
.ourCoreValueWrapper,
.headingWithLineHeading,
.ourCoreValueBlockWrapper { position: relative; }

.design,
.videoBox,
.headingLine,
.benifitDesign,
.ourCoreValueWrapper .design3  { position: absolute; }


/* ---- Margin --- */

.newsHeading,
.newsDateWrapper,
.ourBenefitsBlock h5,
.ourBenefitsBlockImg,
.ourCoreValueBlockImg,
.ourCommitmentRight li h4,
.mainHeaderContentAboveHeading { margin: 0rem 0rem 1rem 0rem; }

.newsImg,
.newsBlock,
.ourBenefitsBlock,
.whoWeAreLeft h3,
.ourCoreValueBlock p,
.ourCommitmentLeft h3,
.ourCommitmentRight li p,
.mainHeaderContentBelowHeading { margin: 0rem 0rem 2rem 0rem; }


/* ======================================== Main Styling =================================================*/


/* ------------------ mainHeader section ----------------- */


/*---------- mainHeaderVideo ------------*/

.mainHeaderVideo { height: 577px; }


/* videoBox */

.videoBox1 { 
	top: 7%;
    left: 5%;
	background-color: #0077cc; 
}

.videoBox2 { 
	top: 19%;
    left: 30%;
	background-color: #2f3337; 
}

.videoBox3 { 
	top: 12%;
	right: 37%;
	background-color: #6cbbf7; 
}

.videoBox4 { 
	top: 6%;
    right: 7%;
	background-color: #ffcc01; 
}

.videoBox5 { 
	top: 32%;
    left: 9%;
    z-index: 5;
	background-color: #ffcc01; 
}

.videoBox6 { 
    top: 24%;
    right: 15%;
    z-index: 5;
	background-color: #f2720c; 
}

.videoBox7 { 
	top: 9%;
    left: 12%;
}

.videoBox8 { 
	 top: 9%;
	left: 39%;
}

.videoBox9 { 
	top: 2%;
	right: 19%;
}

.videoBox10 {
	top: 33%; 
	right: 2%; 
}


/* video */

.video1,
.video2,
.video3,
.video4 {
    width: 79%;
    border-radius: 50%;
    margin: 10px;
}

.video5,
.video6 {
	width: 83%;
	border-radius: 50%;
    margin: 10px;
}

.video7,
.video8,
.video9,
.video10 {
	width: 95%;
    margin: 6px;
}

.video8 { width: 93%; }


/* video backgrounds*/

.smallCircleBackground {
	width: 89px;
	height: 89px;
}

.largeCircleBackground {
	width: 112px;
	height: 112px;
}

.tabBackground { 
	width: 236px;
	height: 149px;
	border: 1px solid #d6d9dc;
	box-shadow: 0px 3px 8px rgb(0 0 0 / 10%);
	display: none;
}

.videoBox8 {
	width: 146px;
    height: 114px;
}

.tabBar {
	width: 226px;
	height: 14px;
	padding: 4px 0px 0px 5px;
	background-color: #e4e6e8;
}

.videoBox8 .tabBar { width: 136px; }

.tabBar li { 
	width: 5px;
    height: 6px;
    border-radius: 50%;
    margin-right: 2px;
    vertical-align: text-top;
}

.redButton { background-color: #de535e; }

.yellowButton { background-color: #ffcc01; }

.greenButton { background-color: #5eba7d; }


/* designBox */

.big2Box div,
.small2Box div {
	width: 50%;
	height: 50%;
}

.big2Box2,
.small2Box2 { align-self: flex-end; }

.big2Box {
	width: 90px;
	height: 90px;
}

.mainHeaderVideo .big2Box1 { background-color: #5eba7d; }

.mainHeaderVideo .big2Box2 { background-color: #dff1e5; }

.small2Box {
	width: 34px;
	height: 34px;
}

.mainHeaderVideo .design2 .small2Box1 { background-color: #eee2cf; }

.mainHeaderVideo .design2 .small2Box2 { background-color: #f5bb52; }

.mainHeaderVideo .design3 .small2Box1 { 
	align-self: flex-end;
	background-color: #e37831; 
}

.mainHeaderVideo .design3 .small2Box2 { 
	align-self: flex-start;
	background-color: #f9e3d4; 
}

.small1Box {
	width: 55px;
	height: 55px;
	background-color: #f16720;
}

.design { z-index: -1; }

.mainHeaderVideo .design1 { top: 33%; }

.mainHeaderVideo .design2 {
	top: 27%;
    right: 28%;
}

.mainHeaderVideo .design3 {
	top: 2.5%;
	right: 12%;
}

.mainHeaderVideo .design4 {
	top: 55%;
	right: 0.2%;
}


/*---------- mainHeaderContent --------- */

.mainHeaderContent { top: 60%; }

.mainHeaderContentHeading { margin: 0.5rem auto 1.2rem auto; }

.mainHeaderContent .button { padding: 0.7rem 2rem; }

.mainHeaderContent .button:hover { background-color: #0077cc; }


/* ------------------ whoWeAre section ----------------- */
.whoWeAreWrapper { 
	padding: 3rem 0rem;
	padding: 8rem 0rem;
	border-bottom: 1px solid #eff0f1;
}

.whoWeAreLeft { padding: 0rem 2rem; }

.whoWeAreLeft p { margin: 0rem 0rem 1.5rem 0rem; }

.whoWeAreRight {
	padding: 0 3%;
	margin: 0;	    
}

.whoWeAreRight img {
	width: 100%;
	margin: 0 auto 2rem auto;
	display: block;
}

.whoWeAreRight figcaption { margin: 1rem 0rem 0rem 0rem; }


.whoWeAreWrapper .design1 .small2Box1 { background: #f2720c; }

.whoWeAreWrapper .design1 .small2Box2 { background: #fce3ce; }

.whoWeAreWrapper .design1 {
	display: none;
	bottom: 7%;
    left: 11.5%;

}

/* ---------------- ourCommitment section ------------ */

.ourCommitment { padding: 3rem 0rem; }

.ourCommitmentLeft { padding: 0rem 2.5rem; }

.ourCommitmentLeft p { margin: 0rem 0rem 3rem 0rem; }

.ourCommitmentLeftImg img { width: 100%; }

.ourCommitmentRight {
    padding: 2.5rem 1.5rem;
    margin: 0rem 1rem;
}


/* --------------- ourCoreValue section -------------- */

.ourCoreValueWrapper { margin: 2rem 0rem; }

.ourCoreValue { padding: 0rem 0rem 5rem 0rem; }

.ourCoreValue h3 { 
	padding: 2rem 0rem 0rem 0rem;
    z-index: 1;
}

.ourCoreValueBlockWrapper {   
    padding: 2rem 1rem;
	margin: 5rem 1rem; 
	z-index: 1;
}

.ourCoreValueBlockImg img { width: auto; }

.ourCoreValueBlock h5 { margin: 0rem 0rem 0.8rem 0rem; }

.ourCoreValueWrapper .design3 {
    width: 41%;
    height: 1644px;
    margin: 0rem 0rem 0rem 1rem;
    top: 0;
    background: #f9fbfd;
}

.ourCoreValueWrapper .design1 .small2Box1 { background: #27348b; }

.ourCoreValueWrapper .design1 .small2Box2 { background: #c6cadd; }

.ourCoreValueWrapper .design2 .small2Box1 { background: #ffcc01; }

.ourCoreValueWrapper .design2 .small2Box2 { background: #f3e9c0; }

.ourCoreValueWrapper .design { 
	width: 32px;
    height: 32px;
	z-index: 10; 
	display: none;
}

.ourCoreValueWrapper .design1 {
	left: 8%;
    bottom: 0%;
}

.ourCoreValueWrapper .design2 { right: 5%; }


/* --------------- ourBenefits section --------------- */

.ourBenefitsWrapper { padding: 4rem 0rem 2rem 0rem; }

.ourBenefits { z-index: 1; }

.headingWithLine { width: 95%; }

.headingLine {
	width: 100%;
    height: 1px;
    top: 50%;
    background: #eff0f1;
}

.headingWithLineHeading {
	width: 285px;
    padding: 0rem 0.5rem;   
}

.ourBenefitsBlockWrapper { margin: 3rem 2rem; }

.ourBenefitsBlock {
    padding: 2rem 2.6rem;
    background-color: #f9fbfd;
}

.ourBenefitsBlock:nth-child(8) { border:1px solid #eff0f1; }

.ourBenefitsBlockImg img { width: auto; }

.ourBenefitsBlock p { line-height: 1.6rem; }

.benifitDesign {
	width: 12rem;
    height: 20rem;
    bottom: 0;
    right: 0;
    background: #fff7f2;
}


/* ------------- recentCompanyNews section ----------- */

.recentCompanyNews {
	padding-top: 2rem;
	padding: 2rem 0rem 0rem 0rem;
	margin-top: 7rem;
	margin: 7rem 0rem 0rem 0rem;
    z-index: 2;
}

.newsMain { margin: 3rem 1.5rem; }

.newsImg { 
	width: 100%; 
	border: 1px solid #d6d9dc;
	box-shadow: 0px 3px 8px rgb(0 0 0 / 10%);
}

.newsDateWrapper img {
	width: 20px;
	margin: 0rem 0.5rem 0rem 0rem;
	vertical-align: text-bottom;
}


/* ======================================== Media Styling =================================================*/


@media only screen and (min-width: 577px) {

	/* ------------- Main -------------- */

		/*--font Size--*/

			/* 28.6px to 43px*/
			.mainHeaderContentHeading { 
				font-size: 2.1rem;
			    line-height: 3.4rem;
			}


			/* 25.3px */
			.ourCommitmentLeft h3 { font-size: 1.7rem; }


			/* 22px */
			.newsHeading,
			.whoWeAreLeft h3,
			.ourCoreValue h3,
			.headingWithLineHeading,
			.whoWeAreRight figcaption {
				font-size: 1.59rem; 
				line-height: 2.2rem;
			}


			/* 19.8px to 21px*/
			.ourCoreValueBlock h5,
			.ourCommitmentRight li h4 { 
				font-size: 1.475rem;
				line-height: 1.8rem;
			}


			/* 17.6px to 19px*/
			.whoWeAreLeft p,
			.ourCommitmentLeft p,
			.ourBenefitsBlock h5,
			.mainHeaderContentAboveHeading,
			.mainHeaderContentBelowHeading { 
				font-size: 1.4rem;
    			line-height: 1.89rem;
			}


			/* 15.4px to 17px*/
			.newsPara,
			.whoWeAreRight span,
			.ourBenefitsBlock p,
			.ourCoreValueBlock p,
			.ourCommitmentRight li p {
				font-size: 1.16rem;
    			line-height: 1.6rem;
			}


			/* 14.3px */
			.newsDateWrapper span,
			.mainHeaderContent .button a {
				font-size: 1.1rem;
			    line-height: 1.15rem;   
			}


		/*---------- mainHeader ------------*/

			.mainHeaderContent {
				margin: 0rem 7.2rem;
				top: 51%;
			}

			.mainHeaderContent .button p { padding: 1.1rem 2rem; }


		/*---------- whoWeAre ------------*/

			.whoWeAreLeft { padding: 0rem 2.5rem; }


		/*---------- ourCommitment ------------*/
			.ourCommitmentLeft { padding: 0rem 3rem; }

			.ourCommitmentLeft h3 { width: 421px; }

			.ourCommitmentLeft p { width: 433px; }

			.ourCommitmentLeftImg { width: 	356px; }

			.ourCommitmentRight {
				padding: 2.5rem 2rem;
				margin: 0rem 2rem;
			}


		/*---------- ourCoreValue ------------*/

			.ourCoreValue h3 {
				width: 320px;
				margin: 0rem 0rem 0rem 7rem;
    			text-align: left;	
			}

			.ourCoreValueBlockWrapper { padding: 2rem 2rem; }


		/*---------- ourBenefits ------------*/
			.ourBenefitsBlockWrapper {
				padding: 0rem 0rem 3rem 0rem;
				margin: 3rem 3rem;
			}

			.ourBenefitsBlock8 p {
				width: 260px;
				margin: 0 auto;
			}

			.headingWithLineHeading { width: 374px; }
}


@media only screen and (min-width: 733px) {

	/* ------------- Main -------------- */

		/*--font Size--*/
			/*.mainHeaderContentHeading { font-size: 3rem; }

			.whoWeAreLeft p, 
			.ourCommitmentLeft p, 
			.ourBenefitsBlock h5, 
			.mainHeaderContentAboveHeading, 
			.mainHeaderContentBelowHeading {
    			font-size: 1.39rem;
			    line-height: 1.9rem;
			    font-size: 1.4rem;
			    line-height: 2.1rem;
			}

			.newsDateWrapper span, 
			.mainHeaderContent .button a { font-size: 1.1rem; }

			.newsHeading, 
			.whoWeAreLeft h3, 
			.ourCoreValue h3, 
			.headingWithLineHeading, 
			.whoWeAreRight figcaption {
				font-size: 2.2rem;
				line-height: 2.8rem;
			}

			.ourCommitmentLeft h3 {
				font-size: 2.3rem;
    			line-height: 2.9rem;
			}

			.ourCoreValueBlock h5, 
			.ourCommitmentRight li h4 {
				    font-size: 1.6rem;
				        line-height: 2.1rem;
			}

			.newsPara, 
			.whoWeAreRight span, 
			.ourBenefitsBlock p, 
			.ourCoreValueBlock p, 
			.ourCommitmentRight li p {
				font-size: 1.3rem;
    			line-height: 1.7rem;
			}*/
			

		/*---------- mainHeader ------------ */

			.tabBackground { display: block; }

			.mainHeaderContent {
				margin: 0 auto;
    			width: 445px;
			}

			.mainHeaderContent .button { padding: 1.1rem 2.5rem; }


		/*---------- whoWeAre ------------*/

			.whoWeAreLeft { padding: 0rem 7.9rem; }

			.whoWeAreRight { padding: 0 7%; }

			.whoWeAreWrapper .design1 { display: flex; }


		/*---------- ourCommitment ------------*/
			
			.ourCommitment { padding: 3rem 0rem 7rem 0rem; }

			.ourCommitmentLeft { padding: 2rem 7rem; }

			.ourCommitmentLeftImg { width: 488px; }

			.ourCommitmentRight {
				margin: 0rem 5rem;
    			padding: 2.5rem 4.5rem;
			}


		/*---------- ourCoreValue ------------*/

			.ourCoreValueBlockWrapper {
				padding: 5rem 5rem;
				margin: 5rem 0rem;
			    flex-direction: row;
			    flex-wrap: wrap;
			    justify-content: space-between;
			}


			.ourCoreValueBlock { 
				width: 26%;
				margin: 0rem 0rem 2rem 0rem;
			}

			.ourCoreValueWrapper .design1,
			.ourCoreValueWrapper .design2 { display: flex; }

		/*---------- ourBenefits ------------*/

		.ourBenefitsBlockWrapper {
			flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: center;
		}

		.ourBenefitsBlock { width: 43%; }

		.ourBenefitsBlock:nth-child(odd) { margin: 0rem 2rem 2rem 0rem; }

		.ourBenefitsBlock8 p {width: auto;}

		.newsMain { margin: 3rem 5rem; }

}

@media only screen and (min-width: 817px) {
	/* ------------- Main -------------- */

		/*---------- whoWeAre ------------*/
			.whoWeAre { 
				flex-direction: row;
		    	align-items: center; 
		    	justify-content: space-between;
			}

			.whoWeAreLeft { 
				width: 55%;
				padding-right: 0; 
			}

			.whoWeAreRight {
			    width: 41%;
			    padding-left: 0;
	    		padding-right: 4.9rem;
			}


		/*---------- recentCompanyNews ------------*/
			.newsMain {
				flex-direction: row;
    			justify-content: space-around;
			}

			.newsBlock { width: 30%; }
}


@media only screen and (min-width: 1101px) {
	/* ------------- Main -------------- */
	

		/*---------- ourCommitment ------------*/
		
		.ourCommitment {
			flex-direction: row;
    		justify-content: space-between;
		}

		.ourCommitmentLeft { padding-right: 0;}

		.ourCommitmentRight {    
			width: 49%;
   		 	margin: 0;
   		 }
}


@media only screen and (min-width: 1360px) {

	body {
	    background-image: url(../3_images/0_common/bg-nav.png);
	    background-repeat: no-repeat;
	    background-size: 100% 15rem;
	    background-size: 110% 38rem;
	}

	/* ------------ Header ------------- */

		header { background: none; }

	/* ------------- Main -------------- */

		
		
}