/* ======================================== Main Common Styling =================================================*/

main img { width: 100%; }

main div img { width: 20px; }

main a { color: #0077cc; }

main h2,
main h3,
main h4,
main h4,
main h5 { margin: 0; }

/* ---- color --- */

.newsPara,
.newsDateWrapper span { color: #6a737c; }

.mainHeaderContentAboveHeading { color: #848d95; }

.newsHeading,
.whoWeAreLeft h3,
.ourCoreValue h3,
.ourBenefitsBlock p,
.ourCoreValueBlock p,
.ourCommitmentLeft h3,
.ourCommitmentRight li p,
.whoWeAreRight figcaption,
.mainHeaderContentHeading { color: #242729; }

.whoWeAreLeft p,
.ourCommitmentLeft p,
.mainHeaderContentBelowHeading { color: #535a60; }

.whoWeAreRight span { color: #9fa6ad; }

.ourBenefitsBlock h5,
.ourCoreValueBlock h5,
.ourCommitmentRight li h4 { color: #3c4146; }

.headingWithLineHeading { color: #2f3337; }

/*{ color: #0c0d0e; }*/

 { color: white; }

/*{ color: rgb(170, 170, 170); }


/*orange*/
/*{ color: #f2720c; }*/


/*blue*/
.newsHeading:hover,
.whoWeAreLeft p a:hover,
.ourCommitmentRight li p a:hover { color: #0095ff; }


.whoWeAreLeft p a,
.ourCommitmentRight li p a { color: #0077cc; }

 { color: #379fef; }


/*{ background-color: #fafafb; }

{ 
	border: 1px solid #d6d9dc; 
	border-radius: 4px;
}

{
	border: 1px solid rgb(89, 167, 222);
	box-shadow: rgba(0, 119, 204, 0.15) 0px 0px 0px 4px;
}*/

 {	
	border: 1px solid #eff0f1;
    border-radius: 2%;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, 
				rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, 
				rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

/*hover*/ {
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px 0px, 
				rgba(0, 0, 0, 0.10) 0px 1px 4px 0px, 
				rgba(0, 0, 0, 0.10) 0px 2px 8px 0px;
}


/* ---- Border --- */

/*{ border-bottom: 1px solid #eff0f1; }

{
    box-shadow: 0px -37px 30px rgb(0 0 0 / 2%) inset;
    background-color: #f9fbfd;
}
*/

/* ---- Font --- */

.newsHeading,
.ourCoreValue h3,
.whoWeAreLeft h3,
.ourBenefitsBlock h5,
.ourCoreValueBlock h5,
.ourCommitmentLeft h3,
.headingWithLineHeading,
.mainHeaderContentHeading,
.whoWeAreRight figcaption,
.ourCommitmentRight li h4,
.mainHeaderContentAboveHeading { font-family: "Roboto Slab", serif; }

.newsPara,
.whoWeAreLeft p,
.whoWeAreLeft p a,
.ourBenefitsBlock p,
.whoWeAreRight span,
.ourCoreValueBlock p,
.ourCommitmentLeft p,
.newsDateWrapper span,
.ourCommitmentRight li p,
.mainHeaderContent .button a,
.mainHeaderContentBelowHeading { font-family: "Source Sans Pro", sans-serif; }

 { font-weight: 500; }

 { font-weight: 600; }


/* 28.6px */

.mainHeaderContentHeading { 
	font-size: 1.8rem;
	line-height: 2.2rem;
}


/* 25.3px */

.ourCommitmentLeft h3 { font-size: 1.6rem; }


/* 22px */

.newsHeading,
.whoWeAreLeft h3,
.ourCoreValue h3,
.headingWithLineHeading,
.whoWeAreRight figcaption { 
	font-size: 1.4rem; 
	line-height: 1.8rem
}


/* 19.8px */

.ourCoreValueBlock h5,
.ourCommitmentRight li h4 { 
	font-size: 1.28rem; 
	line-height: 1.7rem;
}


/* 17.6px */

.whoWeAreLeft p,
.ourCommitmentLeft p,
.ourBenefitsBlock h5,
.mainHeaderContentAboveHeading,
.mainHeaderContentBelowHeading { 
	font-size: 1.13rem; 
	line-height: 1.45rem;
	line-height: 1.55rem;
	line-height: 1.57rem;
}


/* 15.4px */

.newsPara,
.whoWeAreRight span,
.ourBenefitsBlock p,
.ourCoreValueBlock p,
.ourCommitmentRight li p { 
	font-size: 1rem; 
	font-size: 1.07rem; 
	line-height: 1.3rem;
	line-height: 1.4rem;
}


/* 14.3px */

.newsDateWrapper span,
.mainHeaderContent .button a {
	font-size: 0.93rem;
    line-height: 1.15rem;
}


/* 11px */

 {
	font-size: 0.98rem;
    line-height: 1.3rem;
}


/* ---- Alignment --- */

 { margin: 0 auto; }

 { text-align: center; }


.newsMain,
.whoWeAre,
.ourCommitment,
.ourBenefitsBlockWrapper,
.ourCoreValueBlockWrapper { flex-direction: column; }


/* ======================================== Main Styling =================================================*/

main {
	/*height: 900px;*/
}


/* ------------------ mainHeader section ----------------- */
.mainHeader {}


/*---------- mainHeaderVideo ------------*/
.mainHeaderVideo { 
	height: 374px;
	height: 577px;
	border: 1px solid blue; 
	position: relative;
}

/* videoBox */
.videoBox { 
	/*margin: 1rem; */
	border-radius: 7px;
	position: absolute;
}

.videoBox1 { 
	top: 7%;
    left: 5%;
	background-color: #0077cc; 
}

.videoBox2 { 
	top: 19%;
    left: 30%;
	background-color: #2f3337; 
}

.videoBox3 { 
	top: 12%;
	right: 37%;
    
	background-color: #6cbbf7; 
}

.videoBox4 { 
	top: 6%;
    right: 7%;
	background-color: #ffcc01; 
}

.videoBox5 { 
	top: 32%;
    left: 9%;
    z-index: 5;
	background-color: #ffcc01; 
}

.videoBox6 { 
	
    top: 24%;
    right: 15%;
    z-index: 5;
	background-color: #f2720c; 
}

.videoBox7 { 
	top: 9%;
    left: 12%;
	background-color: ; 
}

.videoBox8 { 
	 top: 9%;
	left: 39%;
   
	background-color: ; 
}

.videoBox9 { 
	right: 19%;
    top: 2%;
	background-color: ; 
}

.videoBox10 {
	top: 33%; 
	    right: 2%;
    
	background-color: ; 
}


/* video */
video {}
.video1,
.video2,
.video3,
.video4 {
    width: 79%;
    border-radius: 50%;
    margin: 11px;
    margin: 10px;
}

.video5,
.video6 {
	width: 83%;
	border-radius: 50%;
    margin: 10px;
}

.video7,
.video8,
.video9,
.video10 {
	width: 95%;
    margin: 6px;
    border-radius: 7px;
}

.video8 { width: 93%; }
.video9 {}
.video10 {}

/* video backgrounds*/
.smallCircleBackground {
	width: 94px;
	height: 94px;
	width: 89px;
	height: 89px;
}

.largeCircleBackground {
	width: 112px;
	height: 112px;
}

.tabBackground { 
	width: 236px;
	height: 149px;
	background-color: white;
	border: 1px solid #d6d9dc;
	box-shadow: 0px 3px 8px rgb(0 0 0 / 10%);
	display: none;
}

.videoBox8 {
	width: 146px;
    height: 114px;
}

.tabBar {
	width: 226px;
	height: 14px;
	padding: 4px 0px 0px 5px;
	margin: 0 auto;
	background-color: #e4e6e8;
}

.videoBox8 .tabBar { width: 136px; }

.tabBar li { 
	width: 5px;
    height: 6px;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 2px;
}

.redButton { background-color: #de535e; }

.yellowButton { background-color: #ffcc01; }

.greenButton { background-color: #5eba7d; }

/* designBox */

.big2Box,
.small2Box {
	background-color: white;
	flex-direction: column;
}

.big2Box div,
.small2Box div {
	width: 50%;
	height: 50%;
}

.big2Box2,
.small2Box2 { align-self: flex-end; }

.big2Box {
	/*background-color: white;*/
	width: 90px;
	height: 90px;
	/*flex-direction: column;*/
}

/*.big2Box div {
	width: 50%;
	height: 50%;
}*/

.mainHeaderVideo .big2Box1 { background-color: #5eba7d; }

.mainHeaderVideo .big2Box2 { 
	/*align-self: flex-end;*/
	background-color: #dff1e5; 
}

.small2Box {
	width: 25px;
	height: 25px;
}

.mainHeaderVideo .design2 .small2Box1 { background-color: #eee2cf; }
.mainHeaderVideo .design2 .small2Box2 { background-color: #f5bb52; }

.mainHeaderVideo .design3 .small2Box1 { 
	align-self: flex-end;
	background-color: #e37831; 
}
.mainHeaderVideo .design3 .small2Box2 { 
	align-self: flex-start;
	background-color: #f9e3d4; 
}


.small1Box {
	border-radius: 7px;
	width: 55px;
	height: 55px;
	background-color: #f16720;
}

.design { 
	position: absolute; 
	z-index: -1;
}

.mainHeaderVideo .design1 { top: 33%; }

 .mainHeaderVideo.design2 {
	top: 27%;
	right: 29%;
}

.mainHeaderVideo .design3 {
	top: 2.5%;
	right: 12%;
}

.mainHeaderVideo .design4 {
	top: 55%;
	right: 0.2%;
}




/*---------- mainHeaderContent --------- */
.mainHeaderContent { 
	text-align: center; 
	position: relative;
	top: 60%;
}

.mainHeaderContentAboveHeading { margin-bottom: 1rem; }

.mainHeaderContentHeading {
	font-weight: 500;
	margin: 0.5rem auto 1.2rem auto;
}

.mainHeaderContentBelowHeading { margin-bottom: 2rem; }

.mainHeaderContent .button { padding: 0.7rem 2rem; }

.mainHeaderContent .button:hover { background-color: #0077cc; }


/* ------------------ whoWeAre section ----------------- */
.whoWeAreWrapper { 
	padding: 3rem 1.5rem; 
	border-bottom: 1px solid #eff0f1;
}

.whoWeAre {}

.whoWeAreLeft {}

.whoWeAreLeft h3 { margin-bottom: 2rem; }

.whoWeAreLeft p {
	margin-bottom: 1.5rem;
}

.whoWeAreLeft p a {}

.whoWeAreRight {
	margin: 0;
	text-align: center;
}

.whoWeAreRight img {
	display: block;
	width: 100%;
	margin: 0 auto 2rem auto;
}

.whoWeAreRight span {}

.whoWeAreRight figcaption {
	margin-top: 1rem;
}

.whoWeAre .design1 {}

/* ---------------- ourCommitment section ------------ */

.ourCommitment {     padding: 3rem 0rem; }

.ourCommitmentLeft {    padding: 0rem 1.5rem;}
.ourCommitmentLeft h3 {margin-bottom: 2rem;}
.ourCommitmentLeft p {margin-bottom: 3rem;}
.ourCommitmentLeftImg {    margin: 0 auto;}
.ourCommitmentLeftImg img {    width: 100%;}

.ourCommitmentRight {
	margin: 0rem 1rem;
    padding: 2rem 1rem;
    border-radius: 7px;
    box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 
    			0 100px 80px rgb(0 0 0 / 7%);
}

.ourCommitmentRight li {}
.ourCommitmentRight li h4 {     margin-bottom: 1rem; }
.ourCommitmentRight li p {    margin-bottom: 2rem;}
.ourCommitmentRight li p a {}


/* --------------- ourCoreValue section -------------- */
.ourCoreValueWrapper { margin: 2rem 0rem; }
.ourCoreValue {
	background: white;
    padding-bottom: 5rem;
    position: relative;
}
.ourCoreValue h3 { 
	padding-top: 2rem;
	text-align: center; 
	position: relative;
    z-index: 1;
}

.ourCoreValueBlockWrapper { 
	position: relative;
    z-index: 1;
	margin: 5rem 1rem; 
	border-radius: 7px;
	padding: 2rem 1rem;
    box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 
    			0 100px 80px rgb(0 0 0 / 7%);
   	background: white;
}

.ourCoreValueBlock {}
.ourCoreValueBlockImg { margin-bottom: 1rem; }
.ourCoreValueBlockImg img { width: auto; }
.ourCoreValueBlock h5 { margin-bottom: 0.8rem }
.ourCoreValueBlock p { margin-bottom: 2rem }

.ourCoreValueWrapper .design3 {
	    height: 1644px;
    width: 41%;
    background: #f9fbfd;
    position: absolute;
    top: 0;
    border-radius: 7px;
}

.ourCoreValueWrapper .design1 {}
.ourCoreValueWrapper .design2 {}

/* --------------- ourBenefits section --------------- */
.ourBenefitsWrapper {
	position: relative;
    background: white;
}

.ourBenefits {}

.headingWithLine {}
.headingLine {}
.headingWithLineHeading {}

.ourBenefitsBlockWrapper {}
.ourBenefitsBlock {}
.ourBenefitsBlockImg {}
.ourBenefitsBlockImg img {}
.ourBenefitsBlock h5 {}
.ourBenefitsBlock p {}

.benifitDesign {}

/* ------------- recentCompanyNews section ----------- */
.recentCompanyNews {}
.newsMain {}
.newsBlock {}
.newsBlock a {}
.newsImg {}
.newsDateWrapper {}
.newsDateWrapper img {}
.newsDateWrapper span {}
.newsHeading {}
.newsPara




/* ======================================== Media Styling =================================================*/

@media only screen and (min-width: ) {

	/* ------------- Main -------------- */

		/*-- Font Size --*/

		/*-- Alignment --*/	
}


@media only screen and (min-width: 577px) {

	/* ------------- Main -------------- */

		/*-- Font Size --*/

		/*-- Alignment --*/

		/*---------- mainHeaderVideo ------------*/

			.tabBackground { display: block; }

			
}



@media only screen and (min-width: 1360px) {

	body {
	    background-image: url(../3_images/0_common/bg-nav.png);
	    background-repeat: no-repeat;
	    background-size: 100% 15rem;
	    background-size: 110% 38rem;
	}

	/* ------------ Header ------------- */

		header { background: none; }

	/* ------------- Main -------------- */

		
		
}