/* ======================================== Main Common Styling =================================================*/

main img { width: 100%; }

main a { color: #0077cc; }


/* ======================================== Main Styling =================================================*/

main {
	border: 1px solid #eff0fac1;
    border-top: 0px;
    border-radius: 7px;
    margin: 0 auto 3.5rem auto;
    box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 0 100px 80px rgb(0 0 0 / 7%);
}



/* ======================================== Media Styling =================================================*/




@media only screen and (min-width: 1360px) {

	body {
	    background-image: url(../3_images/0_common/bg-nav.png);
	    background-repeat: no-repeat;
	    background-size: 100% 15rem;
	}

	/* ------------ Header ------------- */

		header { background: none; }

	/* ------------- Main -------------- */

		main {
			width: 1310px;
		    border-top: 1px solid #eff0fac1;
		    background-color: white;
		}
		
}